
<app-all-products [ngStyle]="{'display':allProductDisplay}"></app-all-products>

<div class="container-fluid" [ngStyle]="{'display':displayHome}">
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center fw-bold">Fiction Books</h1>
            </div>
        </div>
    </div>
    <div class="container topSec">
        <div class="row border-bottom border-top pb-4">
            <div class="col-sm-6 col-md-3 pt-5 text-center" *ngFor="let product of fiction ">
                <div class="card m-auto" style="width: 16rem; border: none;">
                    <button type="button" style="background-color: #fff;" (click)="openPopup(product)">
                        <img src="{{product.image}}" class="card-img-top m-auto bookIconImg" alt="...">
                    </button>
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text authorText">{{product.author}}</p>
                        <p class="card-text text-danger">{{product.price |currency:'INR':'symbol-narrow'}}</p>
                        <div>
                            <button class="btn btn-outline-danger mt-auto mx-3" (click)="addToWishlist(product)"><i
                                    class="fa fa-heart"></i></button>
                            <button class="btn btn-outline-success mt-auto mx-3" (click)="addToCart(product)"><i
                                    class="fa fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{modalTitle}}</h3>
            </div>
            <div class="modal-body">
                <h4 class="text-danger">{{modalPrice |currency:'INR':'symbol-narrow'}}</h4>
                <h5 class="text-success">{{modalDiscount}}% Off</h5>
                <p>by <b>{{modalAuthor}}</b> </p>
                <p>{{modalDate}} </p>
                <p>{{modalDescription}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="text-white bg-danger p-2 rounded fas fa-times"
                    (click)="closePopup()"></button>
            </div>
        </div>
    </div>
</div>