<div class="container my-5">
    <div class="row py-5 mb-5">
        <div class="col-md-6 border mx-auto text-center rounded">
            <h1 class="my-4" style="font-weight:800">Login as Admin</h1>
            <div class="form-group">
                <input [(ngModel)]="password" type="password" class="form-control w-75 mx-auto p-2 mb-4"
                    id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" (click)="login()" class="btn btn-warning text-white mb-5">Login</button>
        </div>
    </div>
</div>